.my_wrapper{
  width: 70%;
  margin: 0 auto;
}

.card {
  background-color: lightgrey;
  margin: 30px 0px;
  padding: 20px 0px;
}

.review{
  background-color: lightgrey;
  margin: 30px 0px;
  padding: 10px 10px;
}
